# Local .terraform directories
.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# tfplan files
*.tfplan

# local env variables
.env

# local tfvars
*.tfvars

# local config files
docker/

# local commands 
commands.sh

# ansible dynamic files (created by terraform)
ansible/inventory.yaml
ansible/config.cfg
ansible/playbook.yaml

# ssh keys
budget/.ssh
